* {
    box-sizing: border-box;
}

.container {
    border: 5px solid green;
    height: 500px;
    width: 550px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wide_flat {
    border: 3px solid gray;
    height: 75px;
    width: 300px;
 
  
}

.purple_container {
    border: 3px solid purple;
    height: 225px;
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.small_box {
    border: 3px solid gray;
    height: 75px;
    width: 75px;
    margin: 5px;
}